.container {
    background-image: url("https://source.acexy.cn/view/XauEnzB");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.post-body {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
}

.related-posts {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 10px;
}